<div class="my-component">
    <div id="vvram" style="font-family:monospace;font-size:small;letter-spacing:-0.1em;line-height: 1em">
        @for (int y = 0; y < VVRAM.vvramHeight; y++)
        {
            for (int x = 0; x < VVRAM.vvramWidth; x++)
            {
                @game.Vvram.GetChar(x, y);
            }
            <br />
        }
        <div>
            <canvas @onmousedown="mousedownL" @onmouseup="mouseupL" style="@game.lstyle">←</canvas>
            <canvas @onmousedown="mousedownR" @onmouseup="mouseupR" style="@game.rstyle">→</canvas>
        </div>
        <button @onclick="playAgain" style="@game.PlayAgainVisibility">Play Again</button>
    </div>



</div>

@code{
    private GameMain game = new GameMain();

    protected override void OnInitialized()
    {
        game.UI = this;
        base.OnInitialized();
    }

    private void mousedownL()
    {
        game.buttonLActive = true;
    }
    private void mousedownR()
    {
        game.buttonRActive = true;
    }
    private void mouseupL()
    {
        game.buttonLActive = false;
    }
    private void mouseupR()
    {
        game.buttonRActive = false;
    }
    private void playAgain()
    {
        game = new GameMain();
        game.UI = this;
    }

    public void Update()
    {
        this.StateHasChanged();
    }


}