<h1>Blazout1</h1>

Screen Size:
<br />
X(>=17):
<input id="textx" type="text" @bind="@Blazout1Core.PARAMS.VvramWidth" />×Y(>=14):
<input id="texty" type="text" @bind="@Blazout1Core.PARAMS.VvramHeight" />
<br />

[[[<a href="/Player">START GAME</a>]]]

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        VVRAM.ClearCache();
    }
}